#wrapper {
    font-family: 'Inter';
}

.burger-btn {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #012D5C;
  border: none;
  border-radius: 4px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.burger-btn span {
  position: absolute;
  height: 3px;
  width: 40px;
  background-color:white;
  left: 10px;
}

.burger-btn span:nth-child(1) {
  transform: translateY(-15px);
}

.burger-btn span:nth-child(3) {
  transform: translateY(15px);
}

.header-site.open .burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}


.header-site.open .burger-btn span:nth-child(2) {
  opacity: 0;
}


.header-site.open .burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

/* .header-site.open .burger-btn span {
  background-color: #F41C31;
} */

.header-l1 {
  display: flex;
  border-bottom: 3px solid #f0f0f0;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1212px;
  padding: 0 15px;
}

.header-l1-in {
  display: flex;
  align-items: center;
}

.logo {
  width: 237px;
  height: 92px;
}

.site-description {
  width: 285px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #012D5C;
  font-family: 'Inter';
  margin-left: 64px;
  margin-right: 391px;
}

.header-branding-tel {
  display: flex;
  justify-content: flex-end;
}

.img-tel {
  margin-right: 8px;
}

.number-tel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #012D5C;
  text-decoration: none;
  padding-bottom: 4px;
}
    
.link-tel {
  position: absolute;
  top: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: red;
}

.header-navigation {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-pills{
  display: flex;
}

.header-navigation li {
  list-style: none;
  position: relative;
  padding: 0px 167px 0px 0px;
}

#last-link {
  padding: 0px;
}

.nav-pills a {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 20px;
  font-family: 'Inter';
  font-weight: 700;
  color: #012D5C;
  transition: all 0.3s;
}

.nav-pills a:hover {
  color: red;
}

.nav-pills ul {
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.nav-pills li:hover > ul {
  display: block;
}


/*----MAIN BLOCK----*/

.main-block {
  background-image: url(../main/main_img.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapper-block {
  display: flex;
  align-items: center;
}

.mone-in {
  margin: 130px 0px 112px 0px;
}

.mone-img img {
  height: 484px;
  width: 618px;
}

.block-topic {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.block-list li {
  color: white;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 12px;
}

.block-list li::before {
  content: url(../main/img/icon.png);
  padding-right: 12px;
}

.pum-trigger {
  font-family: 'Inter';
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 56px;
  background: #F41C31;
  border-radius: 4px;
  border: red;
  margin-top: 28px;
  font-size: 16px;
}

.block-list img {
margin-right: 20px;
}

/*----media----*/

@media (max-width:1300px) {
  .site-description {
    margin-left: 36px;
    margin-right: 300px;
  }

  .header-navigation li {
    padding: 0px 136px 0px 0px;
  }

  .main-container {
    max-width: 1091px;
  }
}

@media (max-width:1140px) {
  .site-description {
    margin-left: 20px;
    margin-right: 218px;
  }

  .logo {
    width: 200px;
    height: 79px;
  }

  .header-navigation li {
    padding: 0px 106px 0px 0px;
  }

  .main-container {
    max-width: 970px;
  }
}

@media (max-width:992px){
  .header-site.open .header-navigation {
    transform: translateX(100%);
  }

  .header-site {
    display: flex;
  }
  
  .header-branding {
    margin: 0px;
  }

  .burger-btn {
    display: block;
    position: relative;
    z-index: 2;
  }

  .header-navigation {
    position: absolute;
    left: -336px;
    top: 0px;
    padding: 116px 132px 77px 132px;
    background-color: #012D5C;
    border-radius: 4px;
    margin: 0px 53px;
    width: 13px;
    transition: transform .5s;
    height: 100%;
  }

  .header-navigation li {
    padding: 0px;
  }

  .nav-pills {
    display: block;

  }

  .nav-pills a {
    color: white;
    font-size: 20px;
    padding: 10px 0px;
  }

  .site-description {
    margin-left: 20px;
    margin-right: 111px;
  }

  .main-container {
    max-width: 844px;
  }

  .mone-in {
    margin: 75px 0px 80px 0px;
  }

  .block-topic {
    font-size: 37px;
    line-height: 30px;
  }

  .mone-img img {
    width: 503px;
    height: 352px;
  }
}

@media (max-width:992px) {
  .site-description {
    margin-right: 54px;
  }

  .main-container {
    max-width: 781px;
  }
}

@media (max-width:876px) {
  .site-description {
    display: none;  
  }

  .site-branding {
    padding-right: 290px;
  }

  .mone-img img {
    width: 451px;
    height: 352px;
  }
  .main-container {
    max-width: 688px;
  }
}

@media (max-width:806px) {
  .site-description {
    display: none;  
  }

  .site-branding {
    padding-right: 290px;
  }

  .mone-img img {
    width: 451px;
    height: 352px;
  }
  .main-container {
    max-width: 688px;
  }
}















@media (max-width:375px),(max-width:500px){
  /* .header-site {
    display: flex;
  }

  .main-site {
    width: 667px;
  }

  .header-branding {
    margin: 0px;
  }

  .site-description {
    display: none;
  }

  .number-tel {
    display: none;
  } */

  .burger-btn {
    display: block;
    position: relative;
    z-index: 2;
  }

  .header-navigation {
    position: absolute;
    left: -336px;
    top: 0px;
    padding: 116px 132px 77px 132px;
    background-color: #012D5C;
    border-radius: 4px;
    margin: 0px 53px;
    width: 13px;
    transition: transform .5s;
    height: 100px;
  }

  .header-navigation li {
    padding: 0px;
  }

  .nav-pills {
    display: block;

  }

  .nav-pills a {
    color: white;
    font-size: 20px;
    padding: 10px 0px;
  }

  .header-branding img {
    width: 109px;
    height: 40px;
    margin: 11px -21px 0px 11px;
  }

  .img-tel {
    margin: -1px -2px 0px 189px;
  }

/* 
  .header-branding-tel a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 3px solid red;
    margin: -23px -170px 0px 0px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    width: 139px;
    height: 28px;
  }

  .header-site.open .header-navigation {
    transform: translateX(100%);
  }

  .main-block {
    display: block;
  }

  .mone-in {
    margin: 0px;
  }

  .block-topic {
    margin: 0px;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    padding: 92px 59px;
  }

  .block-list {
    padding: 0px 28px;
  }

  .block-list li {
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .pum-trigger {
    margin: 158px 143px;
    width: 274px;
    height: 87px;
    font-size: 20px;
  }

  .mone-img {
    display: none;
  } */
}



/*-------Second Section-------*/

.second-sect {
  background-image: url(../main/first_banner.png);
  background-size: cover;
}